<div id="nav-offcanvas" class="uk-offcanvas">
    <div class="uk-offcanvas-bar">
        <ul class="uk-nav uk-nav-offcanvas" data-uk-nav>
            <li><a name="index" href="{{ url_for('index') }}"><i class="uk-icon-home"></i> Home</a></li>
            <li><a name="research" href="{{ url_for('research') }}"><i class="uk-icon-flask"></i> Research</a></li>
            <li><a name="news" href="{{ url_for('news') }}"><i class="uk-icon-newspaper-o"></i> Awards</a></li>
            <li><a name="pics" href="{{ url_for('pics') }}"><i class="uk-icon-picture-o"></i> Pictures</a></li>
            <li><a name="team" href="{{ url_for('team') }}"><i class="uk-icon-users"></i> Team</a></li>
            <li><a name="positions" href="{{ url_for('positions') }}"><i class="uk-icon-user-plus"></i> Positions</a></li>
            <li><a name="publications" href="{{ url_for('publications') }}"><i class="uk-icon-file-text"></i> Publications</a></li>
            <li><a href="{{ url_for('login') }}"><i class="uk-icon-user"></i> Login</a></li>
        </ul>
    </div>
</div>
