<div id="nav-offcanvas" class="uk-offcanvas">
    <div class="uk-offcanvas-bar">
        <ul class="uk-nav uk-nav-offcanvas" data-uk-nav>
            <li><a name="index_zh" href="{{ url_for('index', lang='zh') }}"><i class="uk-icon-home"></i> 主页</a></li>
            <li><a name="research_zh" href="{{ url_for('research', lang='zh') }}"><i class="uk-icon-flask"></i> 科学研究</a></li>
            <li><a name="news_zh" href="{{ url_for('news', lang='zh') }}"><i class="uk-icon-newspaper-o"></i> 荣获奖项</a></li>
            <li><a name="pics_zh" href="{{ url_for('pics', lang='zh') }}"><i class="uk-icon-picture-o"></i> 团队照片</a></li>
            <li><a name="team_zh" href="{{ url_for('team', lang='zh') }}"><i class="uk-icon-users"></i> 科研团队</a></li>
            <li><a name="positions_zh" href="{{ url_for('positions', lang='zh') }}"><i class="uk-icon-user-plus"></i> 职位招聘</a></li>
            <li><a name="publications_zh" href="{{ url_for('publications', lang='zh') }}"><i class="uk-icon-file-text"></i> 发表论文</a></li>
            <li><a href="{{ url_for('login') }}"><i class="uk-icon-user"></i> 用户登录</a></li>
        </ul>
    </div>
</div>
